record(mbbi, "$(P):LC1_ANA_AMCEN_RBV") {
  field(ZRSV, "MAJOR")
  field(ONSV, "MAJOR")
  field(TWSV, "NO_ALARM")
  field(THSV, "MAJOR")
}
record(mbbi, "$(P):LC2_ANA_AMCEN_RBV") {
  field(ZRSV, "MAJOR")
  field(ONSV, "MAJOR")
  field(TWSV, "NO_ALARM")
  field(THSV, "MAJOR")
}
record(longin, "$(P):ADC_VALID_0") {
  field(LOLO, "0")
  field(LLSV, "MAJOR")
}
record(longin, "$(P):ADC_VALID_1") {
  field(LOLO, "0")
  field(LLSV, "NO_ALARM")
}
