GROUP NULL $(PREFIX)
$ALIAS MPS Link Node $(LNID)
$GUIDANCE
LTUH MPS
   Group Name: $(PREFIX)
   Summary PV:  $(PREFIX):STATSUMY
$END
CHANNEL  $(PREFIX)    $(PREFIX):MPS_EN_RBV		-----
CHANNEL  $(PREFIX)    $(PREFIX):LC1_MODE_RBV		-----
CHANNEL  $(PREFIX)    $(IOC):LCLSMODE_RBV    -----
