*.db
*.pyc
.__*
venv/
*~
*SAVE
mps_database/temporary_testing*
mps_database/temp
output/*
build/*
errno
json
argparse
os
re
shutil



# Mac Specific
.DS_Store
*.icloud

# Pip Packaging
*.egg-info

# Backups
*.bak
