        {
            "description": "$(DESCRIPTION) $(TEXT)",
            "name":"$(FAULT)",
            "dtype":"$(DTYPE)",
            "inputs": [
                "$(INPUT)"
            ],
            "ignore_when": [
