   <widget class="PyDMEmbeddedDisplay" name="PyDMEmbeddedDisplay">
    <property name="geometry">
     <rect>
      <x>0</x>
      <y>$(Y)</y>
      <width>670</width>
      <height>30</height>
     </rect>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="frameShape">
     <enum>QFrame::NoFrame</enum>
    </property>
    <property name="macros" stdset="0">
     <string>{"DEVICE":"$(DEVICE)","PV1":"$(PV1)","PV2":"$(PV2)","VISIBLE":"$(VISIBLE)"}</string>
    </property>
    <property name="filename" stdset="0">
     <string>$PYDM/mps/mps_blm_embed.ui</string>
    </property>
   </widget>
