   <widget class="PyDMEmbeddedDisplay" name="PyDMEmbeddedDisplay">
    <property name="geometry">
     <rect>
      <x>10</x>
      <y>$(Y)</y>
      <width>950</width>
      <height>20</height>
     </rect>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="macros" stdset="0">
     <string>{"CRATE":"$(CRATE)","SLOT":"$(SLOT)","CHANNEL":"$(CHANNEL)","DEVICE":"$(DEVICE)","DEVICE_BYP":"$(DEVICE_BYP)"}</string>
    </property>
    <property name="filename" stdset="0">
     <string>$PYDM/mps/mps_cn_input.ui</string>
    </property>
   </widget>
