4 0 1
beginScreenProperties
major 4
minor 0
release 1
x 123
y 473
w 104
h 37
font "helvetica-medium-r-12.0"
ctlFont "helvetica-medium-r-12.0"
btnFont "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 7
textColor index 14
ctlFgColor1 index 16
ctlFgColor2 index 14
ctlBgColor1 index 4
ctlBgColor2 index 12
topShadowColor index 1
botShadowColor index 11
title "MPS Link Node"
showGrid
snapToGrid
gridSize 8
endScreenProperties

# (Related Display)
object relatedDisplayClass
beginObjectProperties
major 4
minor 4
release 0
x 0
y 8
w 104
h 24
fgColor index 14
bgColor index 4
topShadowColor index 1
botShadowColor index 11
font "helvetica-medium-r-10.0"
buttonLabel "$LN_NAME"
numPvs 4
numDsps 1
displayFileName {
  0 "mps_linknode_main_hps.edl"
}
symbols {
  0 "$LN_MACROS"
}
endObjectProperties

# (Rectangle)
object activeRectangleClass
beginObjectProperties
major 4
minor 0
release 0
x 0
y 8
w 104
h 24
lineColor index 15
lineAlarm
fillColor index 4
lineWidth 2
alarmPv "$ALARM_PVNAME"
endObjectProperties
