   <widget class="PyDMEmbeddedDisplay" name="PyDMEmbeddedDisplay">
    <property name="geometry">
     <rect>
      <x>$(X)</x>
      <y>$(Y)</y>
      <width>590</width>
      <height>250</height>
     </rect>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="macros" stdset="0">
     <string>{"P":"$(P)","CN":"$(CN)","AID":"$(AID)","SLOT_FILE":"$(SLOT_FILE)","P_IN":"$(P_IN)","PGP":"$(PGP)","LN":"$(LN)","TYPE":"$(TYPE)"}</string>
    </property>
    <property name="filename" stdset="0">
     <string>$PYDM/mps/mps_compact_crate_link.ui</string>
    </property>
   </widget>
