   <widget class="PyDMEmbeddedDisplay" name="PyDMEmbeddedDisplay">
    <property name="geometry">
     <rect>
      <x>0</x>
      <y>$(Y)</y>
      <width>875</width>
      <height>35</height>
     </rect>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="frameShape">
     <enum>QFrame::NoFrame</enum>
    </property>
    <property name="macros" stdset="0">
     <string>{"P":"$(PREFIX)","ID":"$(LN_ID)","SLOT_FILE":"$(SLOT_FILE)","LN":"$(LN_ID)","LOCA":"$(LOCA)","IOC_UNIT":"$(IOC_UNIT)","INST":"$(INST)"}</string>
    </property>
    <property name="filename" stdset="0">
     <string>$PYDM/mps/mps_area_ln.ui</string>
    </property>
   </widget>
