   <widget class="PyDMEmbeddedDisplay" name="PyDMEmbeddedDisplay">
    <property name="geometry">
     <rect>
      <x>$(X)</x>
      <y>$(Y)</y>
      <width>337</width>
      <height>20</height>
     </rect>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="macros" stdset="0">
     <string>{"MPS_PREFIX":"$(MPS_PREFIX)","CN":"$(CN)","AID":"$(AID)","TYPE":"$(TYPE)","DESC":"$(DESC)","SLOT":"$(SLOT)","POSTFIX":"$(POSTFIX)","CRATE":"$(CRATE)","FILENAME":"$(FILENAME)","LOCA":"$(LOCA)","IOC_UNIT":"$(IOC_UNIT)","INST":"$(INST)"}</string>
    </property>
    <property name="filename" stdset="0">
     <string>$PYDM/mps/mps_inline_slot.ui</string>
    </property>
   </widget>
