<?xml version="1.0" encoding="UTF-8"?>
<ui version="4.0">
 <class>Form</class>
 <widget class="QWidget" name="Form">
  <property name="geometry">
   <rect>
    <x>0</x>
    <y>0</y>
    <width>$(WIDTH)</width>
    <height>$(HEIGHT)</height>
   </rect>
  </property>
  <!-- Start of Window Title Properties -->
  <property name="windowTitle">
   <string>Form</string>
  </property>
  <!-- End of Window Title Properties -->
  <!-- Start of Frame Construction -->
  <widget class="QFrame" name="frame">
   <property name="geometry">
    <rect>
     <x>1</x>
     <y>0</y>
     <width>$(WIDTH)</width>
     <height>$(HEIGHT)</height>
    </rect>
   </property>
   <property name="minimumSize">
    <size>
     <width>$(WIDTH)</width>
     <height>$(HEIGHT)</height>
    </size>
   </property>
   <property name="maximumSize">
    <size>
     <width>$(WIDTH)</width>
     <height>$(HEIGHT)</height>
    </size>
   </property>
   <property name="frameShape">
    <enum>QFrame::Box</enum>
   </property>
   <property name="frameShadow">
    <enum>QFrame::Plain</enum>
   </property>
   <!-- End of Frame Construction -->
   <!-- Start of Header Labels -->
   <widget class="PyDMLabel" name="PyDMLabel_1">
    <property name="geometry">
     <rect>
      <x>2</x>
      <y>2</y>
      <width>$(HEADER_WIDTH)</width>
      <height>$(HEADER_HEIGHT)</height>
     </rect>
    </property>
    <property name="font">
     <font>
      <pointsize>10</pointsize>
     </font>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="styleSheet">
     <string notr="true">background-color: rgb(174, 174, 174);</string>
    </property>
    <property name="text">
     <string>LN: $(LN_ID)</string>
    </property>
    <property name="alignment">
     <set>Qt::AlignRight|Qt::AlignTrailing|Qt::AlignVCenter</set>
    </property>
        <property name="alignment">
     <set>Qt::AlignHCenter|Qt::AlignTrailing|Qt::AlignVCenter</set>
    </property>
   </widget>
   <!-- End of Header Labels -->
