   <widget class="PyDMEmbeddedDisplay" name="PyDMEmbeddedDisplay">
    <property name="geometry">
     <rect>
      <x>$(X)</x>
      <y>$(Y)</y>
      <width>465</width>
      <height>20</height>
     </rect>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="macros" stdset="0">
     <string>{"SLOT":"$(SLOT)"}</string>
    </property>
    <property name="filename" stdset="0">
     <string>$PYDM/mps/mps_inline_empty_slot.ui</string>
    </property>
   </widget>
