   <widget class="PyDMEmbeddedDisplay" name="PyDMEmbeddedDisplay">
    <property name="geometry">
     <rect>
      <x>$(X)</x>
      <y>$(Y)</y>
      <width>60</width>
      <height>20</height>
     </rect>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="macros" stdset="0">
     <string>{"MPS_PREFIX":"$(MPS_PREFIX)","CN":"$(CN)","AID":"$(AID)","DESC":"$(DESC)", "POSTFIX":"$(POSTFIX)"}</string>
    </property>
    <property name="filename" stdset="0">
     <string>$PYDM/mps/app_id_status_indicator.ui</string>
    </property>
   </widget>
