   <widget class="PyDMDrawingImage" name="PyDMDrawingImage">
    <property name="geometry">
     <rect>
      <x>10</x>
      <y>$(Y)</y>
      <width>250</width>
      <height>50</height>
     </rect>
    </property>
    <property name="toolTip">
     <string/>
    </property>
    <property name="styleSheet">
     <string notr="true">background-color: rgb(200, 200, 200);</string>
    </property>
    <property name="filename" stdset="0">
     <string>$PYDM/mps/lcls_mps_lockup_sidebyside_digital.png</string>
    </property>
   </widget>
  </widget>
 </widget>
 <customwidgets>
  <customwidget>
   <class>PyDMEmbeddedDisplay</class>
   <extends>QFrame</extends>
   <header>pydm.widgets.embedded_display</header>
  </customwidget>
  <customwidget>
   <class>PyDMDrawingImage</class>
   <extends>QWidget</extends>
   <header>pydm.widgets.drawing</header>
  </customwidget>
 </customwidgets>
 <resources/>
 <connections/>
</ui>
