record(longout, "$(P):$(R)") {
    field(DESC, "$(DESC)")
    field(SCAN, "Passive")
    field(PINI, "NO")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(L2MPSASYN_PORT),$(ADDR))$(PARAM)")
    field(ASG,  "$(ASG)")
}

record(longin, "$(P):$(R)_RBV") {
    field(DESC, "$(DESC)")
    field(SCAN, "I/O Intr")
    field(PINI, "NO")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(L2MPSASYN_PORT),$(ADDR))$(PARAM)")
    field(ASG,  "$(ASG)")
}

