record(waveform, "$(P):$(R)") {
    field(DESC,    "$(DESC)")
    field(PINI,    "NO")
    field(SCAN,    "I/O Intr")
    field(DTYP,    "asynOctetRead")
    field(NELM,    "40")
    field(FTVL,    "CHAR")
    field(INP,     "@asyn($(L2MPSASYN_PORT),$(ADDR))$(PARAM)")
    field(ASG,  "$(ASG)")
}

