}
record(mbbo, "$(BASE):$(DEST)_SOFT_PERMIT") {
    field(DESC, "Set BC to $(DEST)")
    field(DTYP, "asynUInt32Digital")
    field(VAL, "0")
    field(ZRST, "Allow Beam")
    field(ZRVL,"0")
    field(ONST, "Revoke Permit")
    field(ONVL,"1")
    field(OUT, "@asynMask(CENTRAL_NODE $(ID) 1 0)MPS_FORCE_DEST")
    field(ASG,  "$(ASG1)")
}
