record(mbbiDirect, "$(P)_SCBYPV_PROC") {
  field(DESC, "$(DESC)")
  field(DTYP, "Soft Channel")
  field(SCAN, "Passive")
  field(FLNK, "$(FLNK)")
}
record(longout, "$(P)_SCBYPD") {
  field(DESC, "$(DESC) BYP in sec")
  field(DTYP, "Soft Channel")
  field(SCAN, "Passive")
  field(ASG,  "$(ASG2)")
}
