# Analog application AppID
- mmio:
  - AppTop:
    - AppCore:
      - MpsLinkNodeCore:
        - UdpBroadcastIP: !<value> 4294967295
        - MpsLcls1Core:
          - NodeId: !<value> $(ID)
          - IpAddr: !<value> $(IP_ADDR)

