#import math
#set $WINDOW_HEIGHT = int($LINK_NODE_COUNT) * 28 + 50
4 0 1
beginScreenProperties
major 4
minor 0
release 1
x 440
y 215
w 780
h $WINDOW_HEIGHT
##h 80
font "helvetica-medium-r-12.0"
ctlFont "helvetica-medium-r-12.0"
btnFont "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 3
textColor index 14
ctlFgColor1 index 14
ctlFgColor2 index 14
ctlBgColor1 index 4
ctlBgColor2 index 4
topShadowColor index 1
botShadowColor index 11
title "$(AREA)"
snapToGrid
gridSize 2
endScreenProperties

# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 160
y 18
w 52
h 16
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 3
value {
  "Details"
}
endObjectProperties

# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 677
y 18
w 52
h 16
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 3
value {
  "LN CPU"
}
endObjectProperties

# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 255
y 18
w 64
h 16
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 3
value {
  "Heartbeat"
}
endObjectProperties

# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 465
y 18
w 83
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 4
useDisplayBg
value {
  "Config Ver."
}
autoSize
endObjectProperties

# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 345
y 18
w 81
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 4
useDisplayBg
value {
  "FPGA Heartbeat"
}
autoSize
endObjectProperties

# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 563
y 18
w 92
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 4
useDisplayBg
value {
  "LN Location"
}
autoSize
endObjectProperties

# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 58
y 18
w 28
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 4
useDisplayBg
value {
  "Type"
}
autoSize
endObjectProperties

# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 14
y 18
w 12
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 4
useDisplayBg
value {
  "ID"
}
autoSize
endObjectProperties

##=====================================================================
## Add a line for each link node

#for $i in range(0, int($LINK_NODE_COUNT))
#set $WIDGET_Y = 68 + 28 * ($i - 1)

# (Text Update)
object TextupdateClass
beginObjectProperties
major 10
minor 0
release 0
x 234
y $WIDGET_Y
w 100
h 24
controlPv "$LINK_NODE_SIOC_PREFIX[$i]:HEARTBEAT"
fgColor index 16
fgAlarm
bgColor index 14
fill
font "helvetica-medium-r-12.0"
fontAlign "center"
endObjectProperties

# (Text Update)
object TextupdateClass
beginObjectProperties
major 10
minor 0
release 0
x 550
y $WIDGET_Y
w 100
h 24
controlPv "$LINK_NODE_PREFIX[$i]:$LINK_NODE_INDEX[$i]:LN_LOCATION"
fgColor index 16
fgAlarm
bgColor index 14
fill
font "helvetica-medium-r-12.0"
fontAlign "center"
endObjectProperties

# (Text Update)
object TextupdateClass
beginObjectProperties
major 10
minor 0
release 0
x 446
y $WIDGET_Y
w 100
h 24
controlPv "$LINK_NODE_PREFIX[$i]:$LINK_NODE_INDEX[$i]:CONFIG_VERSION"
displayMode "hex"
fgColor index 16
fgAlarm
bgColor index 14
fill
font "helvetica-medium-r-12.0"
fontAlign "center"
endObjectProperties

# (Text Update)
object TextupdateClass
beginObjectProperties
major 10
minor 0
release 0
x 340
y $WIDGET_Y
w 100
h 24
controlPv "$LINK_NODE_PREFIX[$i]:$LINK_NODE_INDEX[$i]:FPGA_UPTIMECNT"
displayMode "decimal"
fgColor index 16
fgAlarm
bgColor index 14
fill
font "helvetica-medium-r-12.0"
fontAlign "center"
endObjectProperties

# (Text Update)
object TextupdateClass
beginObjectProperties
major 10
minor 0
release 0
x 58
y $WIDGET_Y
w 64
h 24
controlPv "$LINK_NODE_PREFIX[$i]:$LINK_NODE_INDEX[$i]:LN_TYPE"
fgColor index 16
fgAlarm
bgColor index 14
fill
font "helvetica-medium-r-12.0"
fontAlign "center"
endObjectProperties

# (Text Update)
object TextupdateClass
beginObjectProperties
major 10
minor 0
release 0
x 14
y $WIDGET_Y
w 40
h 24
controlPv "$LINK_NODE_PREFIX[$i]:$LINK_NODE_INDEX[$i]:LN_ID"
fgColor index 16
fgAlarm
bgColor index 14
fill
font "helvetica-medium-r-12.0"
fontAlign "center"
endObjectProperties

# (Text Update)
object TextupdateClass
beginObjectProperties
major 10
minor 0
release 0
x 656
y $WIDGET_Y
w 100
h 24
controlPv "$LINK_NODE_PREFIX[$i]:$LINK_NODE_INDEX[$i]:LN_CPU_NAME"
fgColor index 16
fgAlarm
bgColor index 14
fill
font "helvetica-medium-r-12.0"
fontAlign "center"
endObjectProperties

# (Related Display)
object relatedDisplayClass
beginObjectProperties
major 4
minor 4
release 0
x 126
y $WIDGET_Y
w 104
h 24
fgColor index 14
bgColor index 4
topShadowColor index 1
botShadowColor index 11
font "helvetica-medium-r-12.0"
buttonLabel "$LINK_NODE_NAME[$i]..."
numPvs 4
numDsps 1
displayFileName {
  0 "mps_linknode_main_hps"
}
menuLabel {
  0 "$LINK_NODE_NAME[$i]"
}
setPosition {
  0 "button"
}
symbols {
  0 "$LINK_NODE_MACROS[$i]"
}
endObjectProperties

# (Rectangle)
object activeRectangleClass
beginObjectProperties
major 4
minor 0
release 0
x 126
y $WIDGET_Y
w 104
h 24
lineColor index 15
lineAlarm
fillColor index 4
lineWidth 2
alarmPv "$ALARM_PVNAME[$i]"
endObjectProperties

#end for
