#Analog Processing Settings
- mmio:
  - AppTop:
    - AppCore:
      - MpsAnalogCore:
        - MpsAnalogLcls1Reg:
          - ProcessingSelect[$(CH)]: !<value> $(PROC)
          - IntegrationCounts[$(INT0)]: !<value> $(I0)
          - IntegrationCounts[$(INT1)]: !<value> 179
        - MpsAnalogLcls2Reg:
          - ProcessingSelect[$(CH)]: !<value> $(PROC)
          - IntegrationCounts[$(INT0)]: !<value> 0
          - IntegrationCounts[$(INT1)]: !<value> 0

