# Analog application AppID
- mmio:
  - AmcCarrierCore: 
    - AppMps:
      - AppMpsRegBase:
        - mpsAppId: !<value> $(ID)
- mmio:
  - AppTop:
    - AppCore:
      - MpsAnalogCore:
        - MpsAnalogLcls1Reg:
          - PrcValueSelect: !<value> $(PROC)
        - MpsAnalogLcls2Reg:
          - PrcValueSelect: !<value> $(PROC)

