- mmio:
  - AppTop:
    - AppCore:
      - MpsAnalogCore:
        - MpsAnalogLcls1Reg:
          - PrcValueSelect: !<value> $(PROC)
        - MpsAnalogLcls2Reg:
          - PrcValueSelect: !<value> $(PROC)
