record(stringin, "$(P):SLOT$(SLOT)_NAME") {
  field(DESC, "Application card in slot $(SLOT)")
  field(VAL, "$(SLOT_NAME)")
}

record(stringin, "$(P):SLOT$(SLOT)_PVNAME") {
  field(DESC, "PV base name for app in slot $(SLOT)")
  field(VAL, "$(SLOT_PVNAME)")
}

record(bi, "$(P):SLOT$(SLOT)_SPARE") {
  field(DESC, "Signals whether slot $(SLOT) is in MPS")
  field(VAL, "$(SLOT_SPARE)")
  field(ONAM, "True")
  field(ZNAM, "False")
}

